* {
    padding: 0;
    margin: 0;
}
body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    height: 10vh;
    background-color: gray;
    width: 100%;
    display: flex;
    align-items: center;
}
nav div {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
nav a {   
    font-size: 3vh;
    color: white;
    text-decoration: none;
}

.wrapper {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.wrapper div {
    margin: 0 auto 0 auto;
    background-color: aliceblue;
    padding: 10px;
}
.introduction {
    width: 60%;
}
.aboutme p {
    font-size: 13px;
}
.whatido {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: left;
}
.whatido div {
    width: 45%;
    height: 20vh;
    border-radius: 10px;
    background-color: gray;
    overflow-y: scroll;
    margin-top: 20px;
    box-sizing: content-box;
    margin: 10px auto 0 0;
    padding: 10px;
    
}
.whatido div p {
    font-size: 13px;
}

.profile {
    width: 30%;
}
.profile div {
    text-align: center
}
.profile p {
    font: 13px;
} 
.profile a {
    text-decoration: none;
    color: rgb(30, 116, 116);
}
.dlsv  {
    padding: 5px;
    font-size: 15px;
    background-color: gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dlsv button {
    cursor: pointer;
}
.enfo {
    width: 60%;
    padding: 10px;
    border-radius: 10px;
}
.dl {
    border: 0;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    background-color: gray;
}



::-webkit-scrollbar {
    width: 0; 
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: wheat;
}


.flexed {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
}





/* Portfolio ================================================================================================================== */
.p-wrapper {
    width: 90%;
    margin: 10px auto 0 auto;
    width: 100%;
}
.conteiner p {
    font-size: 40px;
}
hr {
    width: 100%;
}

.gs {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
}
.gs a {
    width: 100px;
    margin: 10px;
    text-decoration: none;
    color: gray;
}

@media (max-width: 840px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1px;
    }
    .profile {
        width: 100%;
    }
    .introduction {
        width: 100%;
    }
}
@media (max-width: 680px) {
    .gs a {
        width: 40%;
        font-size: 2rem;
    }
}
@media (max-width: 480px) {
    .whatido div {
        width: 90%;
    }
}
@media (max-width: 380px) {
    .gs a {
        width: 80%;
    }
}



